<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='x-ua-compatible' content='ie=edge'>
        <title>Gifto - automatically update gift wrapped orders</title>
        <meta name='description' content=''>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>



    </head>
    <body>

      <div class='container'>
        <div class='row'>
        <h1>Gift Wrap Status App</h1>
        <div class='well'>Select a status below. Orders that have gift wrapping on one or more products will have their status updated automatically after they're placed.</div>
      </div>
      </div>

      <div class='container'>
        <div class='row'>
          <div class='form-group'>
            <form>
              <label for='status-list'>Select an order status</label>
              <select class='form-control' id='status-list'>
                <option value='0'>Incomplete</option>
                <option value='1'>Pending</option>
                <option value='2'>Shipped</option>
                <option value='3'>Partially Shipped</option>
                <option value='4'>Refunded</option>
                <option value='5'>Cancelled</option>
                <option value='6'>Declined</option>
                <option value='7'>Awaiting Payment</option>
                <option value='8'>Awaiting Pickup</option>
                <option value='9'>Awaiting Shipment</option>
                <option value='10'>Completed</option>
                <option value='11'>Awaiting Fulfillment</option>
                <option value='12'>Manual Verification Required</option>
                <option value='13'>Disputed</option>
                <option value='14'>Partially Refunded</option>
              </select>
            </form>
          </div>
        </div>
        <div class='col-md-6'>
          <p id='responseCheck'></p>
        </div>
      </div>

      <!--<div class='container'>
        <button type='button' class='btn' id='checkHook'>Check hook</button>
        <div class='well' id='hook'></div>
        <div class='well' id='status'></div>
        <h2>Hook Response</h2>
        <div class='well' id='hookRes'></div>
      </div>-->

      <script src='https://code.jquery.com/jquery-3.2.1.min.js'
      integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4='
      crossorigin='anonymous'></script>
      <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous'></script>
      <script src='../javascripts/main.js'>></script>
    </body>
</html>